<% layout('/layouts/boilerplate') -%>

<div class="container mt-4">
  <% if (info && info.length) { %>
  <div class="alert alert-info"><%= info %></div>
  <% } %>
  <h1>Welcome to StayFinder!</h1>
</div>


